<div class="routerContainer"
    
    fxLayout='column'     
    fxLayoutAlign='center center'
    fxLayoutGap='0px'>

    <div class="routerContainerHeader"
    fxLayout='row'
    fxLayoutAlign='center center'
    >
        <div class="title">
            SKILL CHECK
        </div>
    </div>
    
    <div class="bodyContainer"
        fxLayout='column'
        fxLayoutAlign='center center'>
        
        <div class="welcomeDiv"
        fxLayout='column'
        fxLayoutAlign='center center'>   
        
            <div class="welcomeMessage"
                fxLayoutAlign='center'>
                SSO TO SUBMIT YOUR API DATA
            </div>
            <hr class="hr1">
            <button mat-raised-button class='loginButton' (click)='onClick()'></button>
        
        </div>
    
    </div>
    
</div>

<br>
