.applicantHeader {

    background-color: rgb(243, 243, 243);

    color: rgb(0, 0, 0);

    padding: 0px;
    margin-bottom: 8px;
}

.characterName {
    font-family: 'Barlow';
    font-size: 30px;
    font-weight: 600;
    
}

.characterSP {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
}