<div class="applicantGroup"
  fxLayout='column'
  fxLayoutAlign='center center'
  fxLayoutGap='0px'
>
  <div class="header">
    <div class="title">
      NEW APPLICANTS
    </div>
  </div>
  
  <div class='haveNewApplicants' *ngIf='newApplicants.length !== 0'
  >

    <div class="applicantHeaders"
    fxLayout='column'
        fxLayoutGap='8px'      
    >
  
      <div *ngFor='let applicant of newApplicants'>
      
        <app-applicant-header [applicant]='applicant'></app-applicant-header>
      
      </div>
    </div>
    
    <hr class="buttonSeparator">
  
    <button mat-raised-button class="clearButton" (click)='adminClearsList()'>CLEAR LIST</button>
  </div>

  <div class='noApplicants' *ngIf='newApplicants.length === 0'>NO NEW APPLICANTS</div>
  
</div>
