.wrapper {
    display: inline-block;

    position: fixed;

    top: 25%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.routerContainer {

    background-color: #062345;

    
}

.routerContainerHeader {

    
    
    
    background-color: #062345;
}

.welcomeDiv {
    
    background-color: #FFFFFF;
    
    margin: 4px;

    margin-top: 0px;

    padding: 10px;

    border: 0px solid #000000;
}

.loginButton {
    
    height: 35px;
    width: 225px;

    margin: 5px;

    background-image: url(/assets/eve-sso-login-white-large.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.title {
    color: #FFFBF4;
    
    font-family: "Impact", Times, serif;
    font-size: 55px;
}

.bodyContainer {
    
    margin: 0px;
}

.welcomeMessage {
    
    color: #062345;

    font-family: 'Helvetica';

    font-size: 25px;
    font-weight: 600;

    
    padding-bottom: 0;
    padding-top: 0;

    overflow-wrap: normal;
}

.hr1 {
    width: 100%;
    
    height: 0px;
    border: 1px solid #E4CF00;
}